---
---

@import "{{ site.theme }}";

body {
    font-family: "Fira Sans";
    color: #23373b
}

code {
    font-family: "Fira Mono";
    color: #23373b
}



h1 {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 900;
}
