---
---

@import "{{ site.theme }}";

body {
    font-family: 'Fira Sans';
    color: #23373b
}

code {
    font-family: 'Fira Mono';
}


h1 {
    font-family: 'Fira Sans Extra Condensed';
}


h2 {
  font-weight: 800;
}


h3 {
  font-weight: 600;
}
