---
---

@import "{{ site.theme }}";

body {
    font-family: "Fira Sans";
    font-weight: 300;
    color: #23373b
}

code {
    font-family: "Fira Mono";
}


h1 {
  font-family: 'Fira Sans Extra Condensed';
  font-weight: 900;
}


h2 {
  font-weight: 800;
}


h3 {
  font-weight: 600;
}
