<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Fira Sans:light">

    <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Fira Sans:lightitalic">

    <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Fira Sans:bold">

    <link rel="stylesheet"    href="https://fonts.googleapis.com/css?family=Fira Sans:Black">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <style>
      a:hover{
        font-weight: 300;
      }
      a:link{
        font-weight: 300;
      }
    </style>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
          <p><a href="index">ABOUT</a><br/>
             <a href="description">CONTENT</a><br/>
             <a href="goals">GOALS</a><br/>
             <a href="grade">GRADING</a><br/>
             <a href="schedule">SCHEDULE</a><br/>
             <a href="resources">RESOURCES</a></p>  
           <p><a href="https://kuehhirt.github.io/teaching"><i class='fa fa-home'></i> Other courses</a></p>
        {% endif %}

          {% if site.github.is_user_page %}
           <p><a href="index">ABOUT</a><br/>
             <a href="research">RESEARCH</a><br/>
             <a href="publications">PUBLICATIONS</a><br/>            
             <a href="teaching">TEACHING</a><br/>
             <a href="contact">CONTACT</a></p>

        <p>
          <a href="https://twitter.com/droverbytrade"><i class='fa fa-twitter'></i></a>
          <a href="https://github.com/kuehhirt"><i class='fa fa-github'></i></a>
        </p>
        {% endif %}

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
